<?xml version="1.0"?>
<robot name="scout" xmlns:xacro="http://www.ros.org/wiki/xacro">

   <xacro:macro name="scout" params="model mode prefix">

      <xacro:property name="M_PI" value="3.1415926535897931" />

      <xacro:include filename="$(find romea_mobile_base_description)/urdf/base4WD.chassis.xacro" />
      <xacro:include filename="$(find scout_description)/urdf/visual/chassis.xacro" />
      <xacro:include filename="$(find scout_description)/urdf/visual/wheels.xacro" />

      <xacro:property name="conf" value="$(find scout_description)/config/scout_${model}.yaml" />
      <xacro:include filename="$(find scout_description)/urdf/scout_properties.xacro" />

      <xacro:chassis>
         <chassis_visuals>
           <xacro:chassis_visual />
         </chassis_visuals>
         <xacro:front_left_wheel_visual />
         <xacro:front_right_wheel_visual />
         <xacro:rear_left_wheel_visual />
         <xacro:rear_right_wheel_visual />
      </xacro:chassis>

   </xacro:macro>

</robot>