<?xml version='1.0' encoding='utf-8'?>
<robot name="scout" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="scout_simulation"
    params="mode ros_prefix base_name controller_manager_config_yaml_file">

    <xacro:if value="${'simulation' in mode}">
      <xacro:if value="${'gazebo_classic' in  mode}">

        <gazebo>
          <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>ros2_control_description</robot_param_node>
            <parameters>${controller_manager_config_yaml_file}</parameters>
            <hold_joints>true</hold_joints>
            <ros>
              <namespace>${ros_prefix}${base_name}</namespace>
            </ros>
          </plugin>
        </gazebo>

      </xacro:if>

      <xacro:if value="${'gazebo_classic' not in  mode}">

        <gazebo>
          <plugin filename="gz_ros2_control-system"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <robot_param>robot_description</robot_param>
            <robot_param_node>ros2_control_description</robot_param_node>
            <parameters>${controller_manager_config_yaml_file}</parameters>
            <ros>
              <namespace>${ros_prefix}${base_name}</namespace>
            </ros>
          </plugin>
        </gazebo>

      </xacro:if>
    </xacro:if>

  </xacro:macro>

</robot>
