<?xml version="1.0"?>
<robot name="scout_ros2_control" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="scout_ros2_control" params="mode model prefix base_name">


    <xacro:include
      filename="$(find romea_mobile_base_description)/ros2_control/base4WD.ros2_control.xacro" />

    <xacro:property name="conf" value="$(find scout_description)/config/scout_${model}.yaml" />
    <xacro:property name="props" value="${load_yaml(conf)}" />


    <!-- Joint names -->
    <xacro:property name="base_footprint_joint"
      value="${props['joints']['base_footprint_joint_name']}" />
    <xacro:property name="inertial_joint" value="${props['joints']['inertial_joint_name']}" />
    <xacro:property name="front_left_wheel_spinning_joint"
      value="${props['joints']['front_left_wheel_spinning_joint_name']}" />
    <xacro:property name="front_right_wheel_spinning_joint"
      value="${props['joints']['front_right_wheel_spinning_joint_name']}" />
    <xacro:property name="rear_left_wheel_spinning_joint"
      value="${props['joints']['rear_left_wheel_spinning_joint_name']}" />
    <xacro:property name="rear_right_wheel_spinning_joint"
      value="${props['joints']['rear_right_wheel_spinning_joint_name']}" />


    <!-- Geometry -->
    <xacro:property name="wheelbase"
      value="${props['geometry']['axles_distance']}" />
    <xacro:property name="front_track"
      value="${props['geometry']['front_axle']['wheels_distance']}" />
    <xacro:property name="rear_track"
      value="${props['geometry']['rear_axle']['wheels_distance']}" />
    <xacro:property name="front_wheel_radius"
      value="${props['geometry']['front_axle']['wheels']['radius']}" />
    <xacro:property name="rear_wheel_radius"
      value="${props['geometry']['rear_axle']['wheels']['radius']}" />
    <xacro:property name="front_hub_carrier_offset"
      value="${props['geometry']['front_axle']['wheels']['hub_carrier_offset']}" />
    <xacro:property name="rear_hub_carrier_offset"
      value="${props['geometry']['rear_axle']['wheels']['hub_carrier_offset']}" />
    <xacro:property name="maximal_wheel_speed"
      value="${props['wheels_speed_control']['command']['maximal_speed']}" />

    <!-- hardware plugins -->
    <xacro:property name="simulation_hardware_plugin"
      value="romea_mobile_base_gazebo/GazeboSystemInterface4WD" />
    <xacro:if value="${model == 'mini'}">
      <xacro:property name="live_hardware_plugin"
        value="scout_hardware/ScoutMiniHardware" />
    </xacro:if>
    <xacro:if value="${model == 'v2'}">
      <xacro:property name="live_hardware_plugin"
        value="scout_hardware/ScoutV2Hardware" />
    </xacro:if>

    <xacro:base_control mode="${mode}" base_name="${base_name}" />

  </xacro:macro>

</robot>