<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wheels">

    <xacro:macro name="wheel_visual" params="wheel_radius wheel_width">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <cylinder length=" ${wheel_width}" radius=" ${wheel_radius}" />
            </geometry>
            <material name="black">
                <color rgba="0 0 0 1" />
            </material>
        </visual>
    </xacro:macro>

    <xacro:macro name="rear_left_wheel_visual">
        <xacro:wheel_visual wheel_radius="${rear_wheel_radius}" wheel_width="${rear_wheel_width}" />
    </xacro:macro>

    <xacro:macro name="rear_right_wheel_visual">
        <xacro:wheel_visual wheel_radius="${rear_wheel_radius}" wheel_width="${rear_wheel_width}" />
    </xacro:macro>

    <xacro:macro name="front_left_wheel_visual">
        <xacro:wheel_visual wheel_radius="${front_wheel_radius}" wheel_width="${front_wheel_width}" />
    </xacro:macro>

    <xacro:macro name="front_right_wheel_visual">
        <xacro:wheel_visual wheel_radius="${front_wheel_radius}" wheel_width="${front_wheel_width}" />
    </xacro:macro>


</robot>